{% extends 'index.html' %}
{% block header %}
    <header class="masthead" style="background-image: url('../static/img/code-1839406.jpg');">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 col-sm-12 col-xs-12 mx-auto">
                    <div class="site-heading">
                        <h1>About Me</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock header %}
{% block content %}
    <p class="about-content">Hi! My name is LUO SIAN-HONG, Graduate from CGU CSIE, I'm currently learning web development and  
        my goal is to be a outstanding software engineer.</p>
    <img class="about-img" src="../static/img/1578201858206.jpg" height="500px" width="400px">
{% endblock content %}
